## Folders
raw_data/
notebook/
test/
processed_data/
geo_coding/
raw_data_wheat/
raw_data_maize/
raw_data_wheat.zip
raw_data_maize.zip
.venv/
.python-version


# Autres
*.ipynb
.env
*pycache*
.log
.temp

# Artifacts Python
future_crop.egg-info/
*.egg
*.egg-info/

# Logs
nohup.out